.contactUs {
  background: var(--darkblue-color);
  .Container {
    .comunation {
      background: rgba(255, 255, 255, 1);
    }
    span {
      z-index: 0;
      background-color: #f8d25c;
      width: 30px;
      height: 3px;
      margin: auto 20px;
    }
  }
  .card-form {
    background-color: var(--darkblue-color);
    .send {
      padding: 0.5rem 6rem;
    }
  }
}
