.react-tabs__tab-list {
  margin: 0 0 30px !important;
  .react-tabs__tab {
    color: white;
    font-size: 1.2rem;
  }
  .react-tabs__tab--selected {
    color: var(--main-color);
    font-size: 1.3rem;
    font-weight: bold;
  }
}
