.planing {
  .card {
    border: none;
    padding: 10px 50px;
    transition-timing-function: ease;
  }

  .card::after {
    position: absolute;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .card:hover {
    transform: scale(1.12, 1.12);
    -webkit-transform: scale(1.07, 1.02);
    backface-visibility: hidden;
    will-change: transform;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.75) !important;
    background-color: var(--word-dash) !important;
    color: #fff;
  }

  .card:hover::after {
    opacity: 1;
  }

  .card:hover .btn-outline-primary {
    color: white;
    background: #007bff;
  }
}