.mainNavbar{
    background: var(--darkblue-color) !important;
}

ul{
  li{
    margin-right: 3px;
    a{
      color: white !important;
      font-size: clamp(1rem, 20vw, 1.1rem) !important;
    }
  }
}
.img-logo {
  width: 10rem !important;
  height: 4rem !important;
}
