.StartElectronicEcommerce {
  background: var(--darkblue-color);
  padding-bottom: 2rem;
}
.StartElectronicEcommerce {
  div {
    .kenzbook {
      width: -webkit-fill-available;
      border-radius: 10px;
    }
  }
  button {
    font-size: 23px;
    font-weight: bold;
    font-family: cursive;
    margin-bottom: 1rem;
    color: var(--darkblue-color);
  }
}
