.consalting {
  .StartElectronicEcommerce {
  .Container{
    h5{
        color: var(--darkblue-color);
        font-weight: 700;
        font-size: 1.7rem;
    }
    p{
        font-weight: 700;
    }
  }
}
}
