.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
}

@mixin div-styles {
  background-color: white;
  box-shadow: -2px 5px 10px 1px #adb5bd;
  padding: 30px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  a {
    margin-top: auto;
    border: none;
    min-width: 160px;
    button {
      width: 100%;
      border: none;
    }
  }
}

button {
  color: black;
  font-size: 18px;
  font-weight: 700;
  background: #de9012;
  padding: 6px;
}

@mixin gold-div {
  @include div-styles;
  overflow: hidden;
  padding: 0 0px;
  height: 500px;
  gap: 0;
  div:first-child {
    flex: 2;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  > div:last-child {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
      font-size: 13px;
      color: gray;
      position: relative;
      top: -5px;
    }
  }
}
.gold-div {
  @include gold-div;
}

.home button {
  background-color: var(--main-color);
  color: white;
  padding: 13px 0px;
  border-radius: 30px;
  max-width: 152px;
  &:hover {
    scale: 1.02;
  }
}

@media (max-width: 360px) {
  .home-grid {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}

//
TabList {
  justify-content: center !important;

}

.react-tabs__tab--selected,
.react-tabs__tab {
  background: #000 !important;
  border-color: #0a58ca !important;
  color: #de9012 !important;
  border-radius: 5px 5px 0 0 !important;
}
.shopping-btn{
  background-color: #2f3797 !important;
}