@media only screen and (max-width: 600px) {
   .container.p-5.recomended{
    padding: 0 !important;
   }
   .col-md-12.px-5.recom{
      padding: 0 !important;
   }
   .card.h-100.shadow-lg.card-transmation.recomendation-card{
      padding: 0;
   }
  }