footer {
    background: #161635 ;
    color: #fff !important;
    footer div {
      text-align: left !important;
    }
    .copyRight{
        .love{
            color: rgb(255, 193, 7) !important;
        }
    }
  }
  